* {
  box-sizing: border-box;
}

:root {
  --color-navy: #1c2746;
  --color-yellow: #fdc608;
  --page-width: 1024px;
  --bg-color: #fff;

  color: var(--color-navy);
  background-color: var(--bg-color);
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;

  p & {
    text-decoration: underline;
  }
}

svg {
  max-width: 100%;
}

main,
header > h1,
menu,
footer {
  margin: 0 auto 0;
  padding: 15px;
  max-width: var(--page-width);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  margin: 0;

  > header {
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    position: relative;
    background-image: linear-gradient(to bottom, white, transparent);
    height: 50vh;

    > img.heroImage {
      z-index: -1;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* text-shadow: 0.1em 0.1em #1116; */

    > a > img {
      max-width: -webkit-fill-available;
    }

    > nav > ul {
      margin: 0 auto 0;
      list-style: none;

      > li {
        display: inline-block;
        padding-right: 20px;
      }
      a {
        color: inherit;
      }
    }

    > h1 {
      /* text-shadow: 0.1em 0.1em #1116; */
      /* font-size: 2em; */
      background-color: color-mix(in srgb, var(--bg-color), transparent 25%);
      bottom: 0px;
      position: absolute;
      left: calc(100% / 2 - var(--page-width) / 2);

      @media (max-width: 1024px) {
        & {
          left: 0;
        }
      }
    }
  }
  > menu {
    margin: 0 auto 0;
    list-style: none;

    a {
      color: -webkit-link;
    }

    > li {
      padding-right: 20px;
    }
  }

  > main {
    > section {
      flex-flow: row wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;

      > a {
        flex: 1 1 300px;
        width: 100%;
        > article {
          width: inherit;
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          transition:
            box-shadow 0.2s ease,
            transform 0.2s ease;

          &:hover {
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
            transform: translateY(-5px);
          }

          > img {
            aspect-ratio: 16 / 9;
            width: 100%;
            object-fit: cover;
            padding: 0;
            z-index: -1;
          }
          > * {
            padding: 1em;
            margin: 0;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 1vh;
  padding: 1em;
  font-style: italic;
  font-size: 0.8em;
  color: var(--color-yellow);
}

/**********************
* Page View Transition
**********************/

@media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

main {
  view-transition-name: page;
}

::view-transition-old(page) {
  animation: slide-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) backwards;
}

::view-transition-new(page) {
  animation: slide-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(50% * var(--direction, 1)));
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(calc(-50% * var(--direction, 1)));
  }

  100% {
    transform: translateX(0%);
  }
}
