{% assign index = collections.sponsors | getCollectionItemIndex %} {% assign
previousPost = collections.sponsors | getPreviousCollectionItem : page %} {%
assign nextPost = collections.sponsors | getNextCollectionItem : page %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icon.svg" type="image/svg">
    <title>{{ title | default: 'Little Black Book'}}</title>
    <meta name="description" content="{{ strapline | default: 'Supporting Chisenhale School' }}">
    <meta property="og:image" content="{{ heroImg }}" />
    <meta
      property="og:title"
      content="{{ title | default: 'Little Black Book' }}"
    />
    <meta
      property="og:description"
      content="{{ strapline | default: 'Supporting Chisenhale School' }}"
    />
    <meta property="og:site_name" content="Little Black Book" />
    <meta name="theme-color" content="#1c2746" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="white" media="(prefers-color-scheme: light)" />
    <link rel="expect" blocking="render" href="#sponsorLogo" />
    <link rel="expect" blocking="render" href="#chisenhaleLogoImg" />
    <link rel="expect" blocking="render" href="#heroImage" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body {% if page.url == "/" %} class="isHomePage"{% endif %}>
    <header>
      <img id="heroImage" class="heroImage" src="{{ heroImg }}" alt="" />
      <nav>
        <a id="chisenhaleLogo" href="/"
          ><img
            id="chisenhaleLogoImg"
            src="/assets/logo.svg"
            alt="Chisenhale Little Black Books Logo"
            eleventy:ignore
        /></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      {% if title %}
      <h1 class="heroTitle" style="view-transition-name: heading-{{ index }};">
        {% if logoTitle %}<img class="logoTitle {% if logoInvert %}logoInvert{% endif %}" src="{{ logoTitle }}" alt="{{ title }}" />{% else %}{% if logo %}<img id="sponsorLogo" class="logo" src="{{ logo }}" alt="{{ title }}" />{% endif %}{{ title }}{% endif %}
      </h1>
      {% endif %}
    </header>

    <menu>
      {% if location %}
      <li>
        <a
          target="_blank"
          href="https://www.google.com/maps/search/?api=1&query={{ location | url_encode }}"
          title="The address of {{ title }}"
          >{{ location }}</a
        >
      </li>
      {% endif %}
    </menu>

    <main>{{ content }}</main>

    <aside>
      <menu>
        {% if previousPost %}
        <li>
          Prev: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </li>
        {% endif %} {% if nextPost %}
        <li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>
        {% endif %}
      </menu>
    </aside>

    <footer>
      <p>
        Little Black Book <a href="/contact">About, Contact and Disclaimer</a>
      </p>
    </footer>
  </body>
</html>
