<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />

    <title>{{ title }}</title>
    <style>
      .heroImage {
        background-image: linear-gradient(to bottom, var(--bg-color), transparent), url('{{ heroImg }}');
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <header class="heroImage">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <h1>{{ title }}</h1>
      <menu>
        {% if www %}
        <li><a href="{{ www }}" alt="Visit {{ title }}">{{ www }}</a></li>
        {% endif %} 
        {% if instagram %}
        <li><a href="{{ instagram }}" alt="Visit {{ title }}">{{ instagram }}</a></li>
        {% endif %}
        {% if address %}
        <li>
          <a
            target="_blank"
            href="https://www.google.com/maps/search/?api=1&query={{ address | url_encode }}"
            title="The address of {{ title }}"
            >{{ address }}</a
          >
        </li>
        {% endif %}
      </menu>
    </header>

    <main>{{ content }}</main>

    <footer>
      Disclaimer: Neither Chisenhale Primary School nor any of its staff gives any representation, assurance or guarantee with respect to the services advertised in this directory and accepts no liability for any damage or loss sustained as a result of the provision of any servcies to you by those advertising in the directory
    </footer>
  </body>
</html>
